<div class="form">
  <div class="columns is-centered">
    <div class="column" id="search-form">
      <div class="box">
        <%= form_with model: @flight, url: '/flights', method: 'get', remote: true do |f| %>
          <div class="columns is-centered is-vcentered is-warning">

            <div class="field">
              <label class="label has-text-centered"></label>
              <div class="control">
                <div class="select is-rounded">
                  <%= f.select(:departure_airport_id, (airport_options), prompt: "From:") %>
                </div>
              </div>
            </div>


            <div class="field">
              <label class="label has-text-centered"></label>
              <div class="control">
                <div class="select is-rounded">
                  <%= f.select(:arrival_airport_id, (airport_options), prompt: "To:") %>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label has-text-centered"></label>
              <div class="control">
                <div class="select is-rounded">
                  <%= f.select(:date, (dates), prompt: "Date:") %>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label has-text-centered"></label>
              <div class="control">
                <div class="select is-rounded">
                  <%= f.select(:passengers, (passengers), prompt: "Passengers:") %>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-centered"></label>
              <div class="control">
                <%= f.submit "Search", class: "button is-dark is-rounded is-outlined", id: "search-btn" %>
              </div>
            </div>


          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

