<div class="form">
  <div class="column">

    <div class="box">
      <%= form_with model: @booking, url: bookings_create_path, method: 'post', local: true do |f| %>
        <%= f.hidden_field :flight_id, value: @flight.id %>
        <div class="columns is-centered is-vcentered is-warning">
          <div class="field">
            <div class="collection">
              <div>
                <div class="is-vcentered flight">
                  <div class="title is-5 has-text-centered"><%= @flight.date.to_formatted_s(:short) %></div>

                  <span class="title is-5"><%= @flight.departure_airport.name %></span>
                  <span class="icon-text"><span class="icon">
                    <i class="fas fa-plane" aria-hidden="true"> </i>
                    </span>
                        <span class="title is-5"><%= @flight.arrival_airport.name %></span>
                    </span>
                  <br/>
                  <div class="title is-6 has-text-centered"><%= @flight.duration %>
                    minutes
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>



        <%= f.fields_for :passengers do |form| %>

          <div class="passenger">
            <div class="form">
              <div class="flight">
                <div class="title is-5 has-text-centered">Passenger Info:</div>
                <div class="control">
                  <%= form.text_field :name, placeholder: "Name", required: true, class: "input is-warning" %></div>
                <br/>
                <div class="control">
                  <%= form.email_field :email, placeholder: "Email", required: true, class: "input is-warning" %></div>
              </div>
            </div>
          </div>
        <% end %>


        <br/>
        <div class="is-vcentered has-text-centered">

          <%= f.submit "Book Tickets", class: "button is-dark is-rounded" %>

        </div>

      <% end %>
    </div>
  </div>

</div>
