<div class="form">
  <div class="columns is-centered">
    <div class="column">
      <div class="box">


        <div class="field">

          <div class="collection">
            <h4 class="title is-4 has-text-centered">Enjoy your trip!</h4>
            <label class="box is-centered has-text-centered flight">
              <div class="title is-5 has-text-centered"><%= @flight.date.to_formatted_s(:short) %></div>

              <span class="title is-5"><%= @flight.departure_airport.name %></span>
              <span class="icon-text"><span class="icon">
                    <i class="fas fa-plane" aria-hidden="true"> </i>
                    </span>
                        <span class="title is-5"><%= @flight.arrival_airport.name %></span>
                    </span>
              <br/>
              <div class="title is-6 has-text-centered"><%= @flight.duration %>
                minutes
              </div>
            </label>
            <h4 class="title is-4 has-text-centered">Tickets:</h4>

            <% @booking.passengers.each do |passenger| %>
              <label class="box is-centered has-text-centered flight">
                <% i = 1 %>
                <div class="title is-5 has-text-centered"><strong>Passenger </strong> <%= i %></div>
                <div class="title is-4 has-text-centered"><strong>Name:</strong> <%= passenger.name %></div>
                <div class="title is-4 has-text-centered"><strong>Email:</strong> <%= passenger.email %></div>
              </label>
              <% i += 1 %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
